extends ../../../layouts/base-layout

block styles 
  style.
    th {
      text-align: center;
    }

block navbar
  include ../../../partials/NavBar

block content
  .row
    .col-md-12.d-grid.gap-4
      h1 Agendas
      if user.id_rol == 1
        a.btn.btn-primary.d-flex.gap-2.justify-content-center.disabled(
          style="width: max-content",
          href="/auth/register"
          )
          i.bi.bi-plus
          | Crear Agenda
      section.d-grid.gap-4
        each agenda in agendas
          .card(style="max-width: max-content;")
            .card-header
              h4.card-title= agenda.sucursal_nombre
            .card-body
              h6.card-text Especialidad
              p.card-text= agenda.especialidad_nombre
              h6.card-text Profesional
              p.card-text= agenda.profesional_apellido + ' ' + agenda.profesional_nombre
              h6.card-text Clasificación
              p.card-text= agenda.clasificacion_nombre
            .card-footer
              .actions.d-inline-flex.gap-2.mb-2
                if user.id_rol == 1
                  a.btn.btn-outline-info.border-0.d-inline-flex.flex-row.gap-1(
                    href=`/panel/agendas/${agenda.id_agenda_base}`
                    style='width: max-content;'
                    data-bs-toggle='tooltip'
                    data-bs-placement='bottom'
                    data-bs-title='Editar'
                    ) 
                    i.bi.bi-pencil
                  a.btn.btn-outline-danger.border-0.d-inline-flex.flex-row.gap-1(
                    href=`/panel/agendas/${agenda.id_agenda_base}`
                    style='width: max-content;'
                    data-bs-toggle='tooltip'
                    data-bs-placement='bottom'
                    data-bs-title='Desactivar'
                    )
                    i.bi.bi-trash
                a.btn.btn-outline-info.border-0(
                  href=`/panel/agendas/${agenda.id_agenda_base}`
                  style='width: max-content;'
                  ) Ver turnos 
                  i.bi.bi-person-lines-fill
